@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="k-floatwrap">
    <div style="float: left">
        <p>Use this area to provide additional information.</p>
    </div>

    <div style="float: right">
        <h3>Telerik UI for ASP.NET MVC TreeView</h3>
        <p>
            Use this area to provide additional information.
        </p>

        @(Html.Kendo().TreeView()
        .Name("LinksTreeView")
        .Items(items =>
        {
            items.Add()
                .Text("Home")
                .Action("Index", "Home");
            items.Add()
                .Text("About")
                .Action("About", "Home");
            items.Add()
                .Text("Contact")
                .Action("Contact", "Home");
        })
    )
    </div>
</div>