<!doctype html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Test Ext.toolbar.Toolbar</title>
		<!--<link rel="stylesheet" href="http://dev.sencha.com/deploy/ext-4.0.7-gpl/resources/css/ext-all.css"/>
		<script charset="utf-8" src="http://dev.sencha.com/deploy/ext-4.0.7-gpl/ext-all.js"></script> -->
		<link rel="stylesheet" href="../../../../../../../Sencha/ExtJS/ExtJS4/ExtJS4.0.7/resources/css/ext-all.css"/>
		<script charset="utf-8" src="../../../../../../../Sencha/ExtJS/ExtJS4/ExtJS4.0.7/ext-all-debug.js"></script>
		<script>
Ext.onReady(function() {
    var toolBar = new Ext.Toolbar({
        renderTo: Ext.getBody(),
        items: [{
            xtype: "form",
            layout: {
                type: "hbox",
                align: "middle"
            },
            defaults: {
                style: "margin-right: 25px;"
            },
            bodyStyle: {
                background: "none repeat scroll 0 0 transparent;"
            },
            border: false,
            width: 700,
            items: [{
                xtype: "textfield"
            }, {
                xtype: "textfield"
            }, {
                xtype: "tbseparator"
            }, {
                xtype: "textfield"
            },{
                xtype: "textfield"
            }]
        }, {
            xtype: "tbseparator"
        }, {
            xtype: "form",
            layout: {
                type: "hbox",
                align: "middle"
            },
            defaults: {
                style: "margin-right: 5px;"
            },
            bodyStyle: {
                background: "none repeat scroll 0 0 transparent;"
            },
            border: false,
            width: 700,
            items: [{
                xtype: "textfield"
            }, {
                xtype: "textfield"
            }, {
                xtype: "tbseparator"
            }, {
                xtype: "textfield"
            },{
                xtype: "textfield"
            }]
        }]
    });

	var combo2 = new Ext.form.ComboBox({
                name: 'perpage',
                width: 100,
                store: new Ext.data.ArrayStore({
                    fields: ['id'],
                    data: [
                        ['15'],
                        ['25'],
                        ['50']
                    ]
                }),
                mode: 'local',
                value: '15',

                listWidth: 190,
                triggerAction: 'all',
                displayField: 'id',
                valueField: 'id',
                editable: false,
                forceSelection: true
            });

	var FooterToolBar = new Ext.Toolbar({
                height: 122,
                region: 'south',
                margin: "1 5 1 1",
                items: [ { xtype: "tbtext", text: "... 1999-2012" }, " ", combo2 ],
                renderTo: Ext.getBody()
            });

    var panel = new Ext.panel.Panel({
        renderTo: Ext.getBody(),
        dockedItems: [{
            xtype: "form",
            border: false,
            doc: "top",
            items: [{
                xtype: "toolbar",
                items: [{
                    xtype: "textfield"
                }, {
                    xtype: "textfield"
                }, {
                    xtype: "tbseparator"
                }, {
                    xtype: "textfield"
                },{
                    xtype: "textfield"
                }]
            }]
        }]
    });
});
		</script>
	</head>
	<body>
	</body>
</html>
