<html>
	<head>
		<meta charset="utf-8"/>
		<title>AnyTest</title>

		<link rel="stylesheet" href="../../../../kendo/styles/kendo.common.min.css"/>
		<link rel="stylesheet" href="../../../../kendo/styles/kendo.default.min.css"/>

		<script charset="utf-8" src="../../../../jQuery/2/jquery.js"></script>
		<!-- <script charset="utf-8" src="../../../../kendo/src/js/kendo.web.js"></script> -->
		<script charset="utf-8" src="../../../../kendo/js/kendo.all.min.js"></script>

		<script charset="utf-8" src="MainForm.js"></script>
	</head>
	<body>
		<input id="maskedtextbox" />
	</body>
</html>