<configuration>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="LoginPage.aspx">
        <credentials passwordFormat="Clear">
          <user name="Jeff" password="imbatman" />
          <user name="John" password="redrover" />
          <user name="Bob" password="mxyzptlk" />
          <user name="Alice" password="nomalice" />
          <user name="Mary" password="contrary" />
        </credentials>
      </forms>
    </authentication>
  </system.web>
</configuration>