<?xml version="1.0"?>

<configuration>
  
    <appSettings>
      <add key="LogFileName" value="yy-MM-dd" />
      <add key="LogFileDirectoryTransaction" value="log_log" />
      <add key="LogFileNameTransaction" value="yy-MM-dd" />
      <add key="LogFileHourTransaction" value="TrUe" />
      <add key="LogFileHourDeltaTransaction" value="2" />
      <add key="LogFileSessionTransaction" value="tRuE" />
      <add key="AppSettingsSmthValue" value="_=AppSettingsSmthValue=_" />
    </appSettings>

    <connectionStrings>
      <clear />
      <add name="SybaseASEServer" providerName="Sybase.ASEOLEDBProvider" connectionString="Server Name=localhost;Server Port Address=5000;User ID=sa;Password=;Initial Catalog=testdb" />
<!--      <add name="SybaseASEServer" providerName="Sybase.ASEOLEDBProvider" connectionString="Server Name=NOZHENKO;Server Port Address=5000;User ID=sa;Password=;Initial Catalog=testdb" /> -->
      <add name="SybaseASEServerFull" connectionString="Provider=Sybase.ASEOLEDBProvider;Server Name=localhost;Server Port Address=5000;User ID=sa;Password=;Initial Catalog=testdb" />
<!--      <add name="SybaseASEServerFull" connectionString="Provider=Sybase.ASEOLEDBProvider;Server Name=NOZHENKO;Server Port Address=5000;User ID=sa;Password=;Initial Catalog=testdb" /> -->
    </connectionStrings>
  
    <system.web>
        <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
        <compilation debug="true" />
        <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
        <authentication mode="Windows" />
        <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->

        <httpHandlers>
          <add verb="*" path="test.simple" type="AnyTest2_1.TestSendDataByAJAXSaveHttpHandler,AnyTest2_1" />
          <add verb="*" path="TestHttpHandlerForm.aspx" type="AnyTest2_1.TestHttpHandlerClass,AnyTest2_1" />
        </httpHandlers>

    </system.web>
</configuration>
