@{
    ViewBag.Title = "Index";
}


<hr />
<h1>Views/TestLayout2/Index.cshtml</h1>
<h2>TestLayout2</h2>
<h2>Index</h2>

@section RightSection {
    <text>
        This is right section
    </text>
}

@section FooterSection {
    <text>
        This is footer section
    </text>
}

@section LeftSection {
    <text>
        This is left section
    </text>
}

@section HeaderSection {
    <text>
        This is header section
    </text>
}
