<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="SiteTemplate.master.cs" Inherits="TestMasterPage.SiteTemplate" %>
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Test Master Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:LinkButton ID="LinkButton1" PostBackUrl="~/main1.aspx" runat="server">Main 1</asp:LinkButton>
        <asp:LinkButton ID="LinkButton2" PostBackUrl="~/main2.aspx" runat="server">Main 2</asp:LinkButton>
    </div>
    <div>
        <asp:ContentPlaceHolder ID="Main" runat="server" />
    </div>
    </form>
</body>
</html>
