<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <authentication mode="Windows" />

  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    
    <handlers>
      <add name="StaffHandler" verb="*" path="Staff.aspx" type="TestGrid.remote.app.handlers.Staff, TestGrid"/>
    </handlers>

  </system.webServer>
</configuration>
