<ng-container>
  <div class="content">
    <p><span>test-any app is running!</span></p>
  </div>
</ng-container>
<hr/>

<ng-container>
  <div>
    Test @Ingectable()
    <app-test-injectable></app-test-injectable>
  </div>
</ng-container>
<hr/>

<ng-container>
  <div>
    Test watching
    <app-test-watching></app-test-watching>
  </div>
</ng-container>
<hr/>

<ng-container>
  <div>
    Test expand collapse with content
    <app-expand-collapse-with-content [legend]="'Legend'">
      <app-content-component-one [data]="data1"></app-content-component-one>
    </app-expand-collapse-with-content>
  </div>
</ng-container>
<hr/>

<ng-container>
  <div>
    Test expand collapse with content
    <app-expand-collapse-with-content [legend]="'Legend'">
      <app-content-component-one [data]="data1"></app-content-component-one>
    </app-expand-collapse-with-content>
  </div>
</ng-container>
<hr/>

<ng-container>
  <div>
    Test expand collapse with template
    <app-expand-collapse-with-template [legend]="'Legend'" [data]="data1"></app-expand-collapse-with-template>
  </div>
</ng-container>
<hr/>

<ng-container>
  <div>
    Test simple
    <app-test-simple></app-test-simple>
  </div>
</ng-container>

<ng-container>
  <div>
    Test Faker
    <app-test-facker></app-test-facker>
  </div>
</ng-container>

<ng-container>
  <div>
    Test conditional attributes<br>
    <app-test-conditional-attributes
      [isCkecked1]=true
      [isCkecked2]=true
      [isCkecked3]=false
      [isCkecked4]=false
      [isInputText1Required]=true
      [isInputText2Required]=false
      [step1]="'step1'"
      [step2]="'step2'"
      [step3]="'step3'"
      [step4]="'step3'"
    ></app-test-conditional-attributes>
  </div>
</ng-container>

<ng-container>
  <div>
    Test inheritance<br>
    <app-custom-derived></app-custom-derived>
  </div>
</ng-container>

<ng-container>
  <div>
    Test ng-content<br>
    <app-custom-button>
      <ng-container ngProjectAs="app-custom-icon">
        <app-custom-icon></app-custom-icon>
      </ng-container>
      Button
    </app-custom-button>
    <app-custom-button (click)="toggleIcon()">
      <div *ngIf="showIcon" ngProjectAs="app-custom-icon">
        <app-custom-icon></app-custom-icon>
      </div>
      Button
    </app-custom-button>
  </div>
  <hr/>
</ng-container>

<ng-container>
  <div>
    Test @Input()<br>
    <label>parentValue: <input type="text" [(ngModel)]="parentValue"></label>
  </div>
  <app-test-input [valueWithGetterAndSetter]="'valueWithGetterAndSetterValue'" [value]="'valueValue'" [parentValue]="parentValue" [booleanParentValue]="true"></app-test-input>
  <hr/>
</ng-container>

<ng-container>
  <div>
    Test @Pipe()<br>
  </div>
  <app-test-pipe [items]="dto | dto2view" [complexObject]="complexObjectDto | complexObjectDto2view"></app-test-pipe>
  <hr/>
</ng-container>

<ng-container>
  <div>
    Test @Input() @Output<br>
    <input type="checkbox" [(ngModel)]="allChecked" />
  </div>
  <app-test-input-output [(allChecked)]="allChecked" (allCheckedChangeEvent)="allCheckedChange($event)"></app-test-input-output>
  <app-test-input-output [(allChecked)]="allChecked" (allCheckedChangeEvent)="allCheckedChange($event)"></app-test-input-output>
  <app-test-input-output [(allChecked)]="allChecked" (allCheckedChangeEvent)="allChecked=$event"></app-test-input-output>
  <hr/>
</ng-container>

<ng-container>
  <app-test-test-input></app-test-test-input>
</ng-container>