<!doctype html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Test kendo.ui.Splitter (simple)</title>

		<link rel="stylesheet" href="../../../../../kendo/styles/kendo.common.min.css"/>
		<link rel="stylesheet" href="../../../../../kendo/styles/kendo.default.min.css"/>

		<style>
html, body
{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

#splitter div
{
	border: 1px solid black;
}
		</style>
		
		<script charset="utf-8" src="../../../../../jQuery/2/jquery.js"></script>
		<script charset="utf-8" src="../../../../../kendo/src/js/kendo.web.js"></script>

		<script charset="utf-8" src="MainForm.js"></script>
	</head>
	<body>
		<div id="splitter" style="height: 100%; width: 100%; ">
			<div>Pane A</div>
			<div>Pane B</div>
		</div>
	</body>
</html>