<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="ru">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>&laquo;Test Layout Card&raquo;</title>
		<link rel="stylesheet" type="text/css" href="../../../../../../Sencha/ExtJS/ExtJS3/ExtJS3.3.1/resources/css/ext-all.css"/>
		<script type="text/javascript" charset="utf-8" src="../../../../../../Sencha/ExtJS/ExtJS3/ExtJS3.3.1/adapter/ext/ext-base-debug.js"></script>
		<script type="text/javascript" charset="utf-8" src="../../../../../../Sencha/ExtJS/ExtJS3/ExtJS3.3.1/ext-all-debug.js"></script>
		<script type="text/javascript" charset="utf-8" src="app.js"></script>
	</head>
	<body>
	</body>
</html>
