<html class="x-border-box" id="ext-gen1041"><head>
		<meta charset="utf-8">
		<title>Test Frame</title>
		<link href="../../../../../../ExtJS/ExtJS4/resources/css/ext-all.css" rel="stylesheet">
		<script src="../../../../../../ExtJS/ExtJS4/ext-all-debug.js" charset="utf-8"></script>
		<script src="app.js" charset="utf-8"></script>
	</head>
	<body class="x-body x-gecko x-reset" id="ext-gen1009">
		<div id="ext-comp-1014" class="x-tip x-tip-default x-layer" style="position: absolute; display: none; left: 960px; top: 280px;" role="tooltip" aria-labelledby="component-1016">
			<div class="x-tip-body  x-tip-body-default x-tip-body-default" id="ext-comp-1014-body"></div>
			<div class="x-tip-anchor x-tip-anchor-top" id="ext-gen1011" style="z-index: 1;"></div>
		</div>
		<div role="presentation" class="x-css-shadow" id="ext-gen1040" style="z-index: 19000; left: 100px; top: 104px; width: 1720px; height: 355px; box-shadow: 0pt 0pt 4px 0pt rgb(136, 136, 136); display: block;"></div>
		<div id="window-1019" class="x-window x-window-default x-closable x-window-closable x-window-default-closable x-layer" style="position: absolute; width: 1720px; height: 359px; left: 100px; top: 100px; z-index: 19001;" role="alertdialog" aria-labelledby="component-1023" tabindex="-1">
			<div id="header-1022" class="x-window-header x-window-item x-window-header-default x-horizontal x-window-header-horizontal x-window-header-default-horizontal x-top x-window-header-top x-window-header-default-top x-unselectable x-window-header-draggable x-docked x-docked-top x-window-header-docked-top x-window-header-default-docked-top" style="-moz-user-select: -moz-none; width: 1720px; left: -1px; top: -1px;" role="presentation">
				<div class="x-window-header-body x-window-header-body-default-horizontal x-window-header-body-default-top x-window-header-body-default x-window-header-body-horizontal x-window-header-body-top x-box-layout-ct" id="header-1022-body">
					<div role="presentation" class="x-box-inner" id="ext-gen1020" style="width: 1708px; height: 16px;">
						<div id="component-1023" class="x-component x-window-header-text-container x-box-item x-component-default" role="heading" style="margin: 0pt; width: 1691px; height: 16px; left: 0px; top: 0px;">
							<span class="x-window-header-text x-window-header-text-default" id="component-1023-textEl">Test Frame</span>
						</div>
						<div id="tool-1024" class="x-tool x-box-item x-tool-default" role="button" style="margin: 0pt; left: 1693px; top: 1px;">
							<img role="presentation" class="x-tool-close" src="data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" id="tool-1024-toolEl">
						</div>
					</div>
				</div>
			</div>
			<div class="x-window-body  x-window-body-default x-closable x-window-body-closable x-window-body-default-closable x-window-body-default x-window-body-default-closable x-layout-fit" id="window-1019-body" style="width: 1710px; height: 298px; left: 0px; top: 22px;">
				<div id="form-1017" class="x-panel x-fit-item x-window-item x-panel-default" role="form" style="margin: 0pt; width: 1708px; height: 296px;">
					<div class="x-panel-body  x-panel-body-default x-panel-body-default" id="form-1017-body" style="width: 1708px; height: 296px; left: 0px; top: 0px;">
						<label for="" id="label-1018" class="x-component x-component-default" role="presentation">label</label>
						<div role="presentation" class="x-clear" id="ext-gen1030"></div>
					</div>
				</div>
			</div>
			<div id="toolbar-1020" class="x-toolbar x-window-item x-toolbar-footer x-docked x-docked-bottom x-toolbar-docked-bottom x-toolbar-footer-docked-bottom x-box-layout-ct" role="toolbar" tabindex="-1" style="width: 1710px; left: 4px; top: 324px;">
				<div role="presentation" class="x-box-inner" id="ext-gen1024" style="width: 1704px; height: 22px;">
					<div id="button-1021" class="x-btn x-box-item x-toolbar-item x-btn-default-small x-noicon x-btn-noicon x-btn-default-small-noicon" style="margin: 0pt; width: 75px; left: 1623px; top: 0px;">
						<em class="" id="button-1021-btnWrap">
							<button autocomplete="off" role="button" hidefocus="true" type="button" id="button-1021-btnEl" class="x-btn-center" style="width: 69px;">
								<span style="width: 69px;" class="x-btn-inner" id="button-1021-btnInnerEl">Close</span>
								<span class="x-btn-icon  x-hide-display" id="button-1021-btnIconEl">&nbsp;</span>
							</button>
						</em>
					</div>
				</div>
			</div>
			<div id="component-1026" class="x-component x-resizable-handle x-window-handle x-resizable-handle-north x-component-default x-unselectable" role="presentation" style="-moz-user-select: -moz-none;"></div>
			<div id="component-1027" class="x-component x-resizable-handle x-window-handle x-resizable-handle-south x-component-default x-unselectable" role="presentation" style="-moz-user-select: -moz-none;"></div>
			<div id="component-1028" class="x-component x-resizable-handle x-window-handle x-resizable-handle-east x-component-default x-unselectable" role="presentation" style="-moz-user-select: -moz-none;"></div>
			<div id="component-1029" class="x-component x-resizable-handle x-window-handle x-resizable-handle-west x-component-default x-unselectable" role="presentation" style="-moz-user-select: -moz-none;"></div>
			<div id="component-1030" class="x-component x-resizable-handle x-window-handle x-resizable-handle-northeast x-component-default x-unselectable" role="presentation" style="-moz-user-select: -moz-none;"></div>
			<div id="component-1031" class="x-component x-resizable-handle x-window-handle x-resizable-handle-northwest x-component-default x-unselectable" role="presentation" style="-moz-user-select: -moz-none;"></div>
			<div id="component-1032" class="x-component x-resizable-handle x-window-handle x-resizable-handle-southeast x-component-default x-unselectable" role="presentation" style="-moz-user-select: -moz-none;"></div>
			<div id="component-1033" class="x-component x-resizable-handle x-window-handle x-resizable-handle-southwest x-component-default x-unselectable" role="presentation" style="-moz-user-select: -moz-none;"></div>
		</div>
		<div class="x-focus-element" tabindex="-1" id="ext-gen1027">&nbsp;</div>
		<div class="x-proxy-el" id="ext-gen1039" style="display: none; width: 1720px; height: 359px; left: 100px; top: 100px;"></div>
	</body>
</html>