access/
android/
asm/
ASP/
CBuilder/
electron/
html/
java/
JavaScript/
JS/
MSBuild/
node/
Pics/
qt/
sql/
TypeScript/
VB/
workspace/
cryptest/
TestEncryptor/
CrashTest/
CreateQuery/
DEParse/
FtpClient/
GeoFramework/
hex2bin/
Hub.Gate/
Planogram/
ReZipAndCryptoPrototype/
TestAssBase/
TestCalcCRC/
TestExcel/
TestFileParser/
TestOrgBouncyCastleCrypto/
TestReadExcel/
TestSTDrive/
TestTWS/
iTextSharpTutorial/
lib/
download/
DelTab/
Duplicate/
Filer/
QuickBase/
Mvc-dev/
node_modules/
logs/
log/
ext/
ext4.2.1/
build/
temp/
tmp/
themes/
**/Content/kendo
**/Scripts/kendo
**/kendo/examples
**/kendo/src
**/kendo/styles
LightSwitch/
Kendo.Mvc.Examples/
JayData/
Foxtrot/
InBase/
TestMDM/
TestPCB/
Veksel/
.vs/
x64
Debug
Release
ipch
bin
obj
TestResults
packages
_ReSharper*
*.sdf
*.suo
*.user
*.ncb
*.resharper
*.resharperoptions
*.vcxproj.user
*.bin
*.dll
*.bak
*.log
*.InstallLog
*.out
*.exe
*.pdb
*.netmodule
ReadMe.*
jquery*.js
jquery*.map
jquery*.css
jquery*.css.map
*.dat
UpgradeLog.htm
bootstrap*.js
bootstrap*.css
bootstrap*.css.map
modernizr*.js
respond*.js
MicrosoftAjax*.js
MicrosoftMvcAjax*.js
MicrosoftMvcValidation*.js
kendo*.js
kendo*.js.map
angular*.js
jszip*.js
knockout*.js
