access/
android/
CBuilder/
electron/
JavaScript/
node/
Pics/
qt/
SyBase/
TypeScript/
VB/
workspace/
cryptest/
TestEncryptor/
CrashTest/
CreateQuery/
DEParse/
FtpClient/
GeoFramework/
hex2bin/
Hub.Gate/
Planogram/
ReZipAndCryptoPrototype/
TestAssBase/
TestCalcCRC/
TestExcel/
TestFileParser/
TestOrgBouncyCastleCrypto/
TestReadExcel/
TestSTDrive/
TestTWS/
iTextSharpTutorial/
lib/
download/
DelTab/
Duplicate/
Filer/
QuickBase/
Mvc-dev/
node_modules/
logs/
log/
ext/
ext4.2.1/
build/
temp/
tmp/
themes/
**/Content/kendo
**/Scripts/kendo
**/kendo/examples
**/kendo/src
**/kendo/styles
LightSwitch/
Kendo.Mvc.Examples/
JayData/
Foxtrot/
InBase/
TestMDM/
TestPCB/
Veksel/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.lock.json

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
*.lock.json
project.lock.json

# Visual Studo 2015 cache/options directory
.vs/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.* 

FakesAssemblies/

ipch
packages
_ReSharper*
*.sdf
*.ncb
*.resharper
*.resharperoptions
*.vcxproj.user
*.bin
*.dll
*.bak
*.log
*.InstallLog
*.out
*.[Oo][Bb][Jj]
*.[Cc][Oo][Mm]
*.[Ee][Xx][Ee]
*.[Mm][Aa][Pp]
*.[Ll][Ss][Tt]
*.[Cc][La][Ss][Ss]
*.pdb
*.netmodule
ReadMe.*
jquery*.js
jquery*.map
jquery*.css
jquery*.css.map
*.dat
UpgradeLog.htm

#bootstrap
bootstrap*.js
bootstrap*.css
bootstrap*.css.map
glyphicons-halflings-regular.eot
glyphicons-halflings-regular.svg
glyphicons-halflings-regular.ttf
glyphicons-halflings-regular.woff

modernizr*.js
respond*.js
MicrosoftAjax*.js
MicrosoftMvcAjax*.js
MicrosoftMvcValidation*.js
kendo*.js
kendo*.js.map
angular*.js
jszip*.js
knockout*.js
