access/
android/
asm/
ASP/
ASP.NET/
CBuilder/
electron/
html/
java/
JavaScript/
JS/
MSBuild/
node/
Pics/
qt/
sql/
TypeScript/
VB/
workspace/
cryptest/
TestEncryptor/
CrashTest/
CreateQuery/
DEParse/
FtpClient/
GeoFramework/
hex2bin/
Hub.Gate/
Planogram/
ReZipAndCryptoPrototype/
TestAssBase/
TestCalcCRC/
TestExcel/
TestFileParser/
TestOrgBouncyCastleCrypto/
TestReadExcel/
TestSTDrive/
TestTWS/
iTextSharpTutorial/
lib/
download/
.vs/
x64
Debug
Release
ipch
bin
obj
TestResults
packages
_ReSharper*
*.sdf
*.suo
*.user
*.ncb
*.resharper
*.resharperoptions
*.vcxproj.user
*.bin
*.dll
*.bak
*.log
*.InstallLog
*.out
*.exe
*.pdb
*.netmodule
ReadMe.*
