<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnString" value="Provider=Sybase.ASEOLEDBProvider;Server Name=localhost;Server Port Address=5000;Initial Catalog=veksel;User ID=sa;Password=;OLE DB Services=-4" />
<!--    <add key="ConnString" value="Provider=Sybase.ASEOLEDBProvider;Server Name=DEVELOPER1;Server Port Address=5000;Initial Catalog=veksel;User ID=sa;Password=;OLE DB Services=-4" /> -->
  </appSettings>
</configuration>
