<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <connectionStrings>
    <clear />
    <add name="SybaseASEServer" providerName="Sybase.ASEOLEDBProvider" connectionString="Server Name=localhost;Server Port Address=5000;User ID=sa;Password=;Initial Catalog=testdb" />
  </connectionStrings>
  <appSettings>
    <clear />
    <add key="keyAAA" value="AAA" />
  </appSettings>
</configuration>