<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <authentication mode="Windows" />

    <httpHandlers>
      <add verb="*" path="updateUsers.json" type="TestMVC.UpdateUserHandler, TestMVC"/>
      <add verb="*" path="Country.aspx" type="TestMVC.CountryHandler, TestMVC"/>
    </httpHandlers>

  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
