<!doctype html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Test Toolbar (with control on top)</title>
		<link rel="stylesheet" href="../../../../../../../Sencha/ExtJS/ExtJS3/ExtJS3/resources/css/ext-all.css"/>
		<style>
.x-form-field-wrap.x-form-field-trigger-wrap.search {
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
}

.x-toolbar.x-small-editor .x-form-field-wrap.x-form-field-trigger-wrap.search .x-form-text {
	height: 16px !important;
}

.x-toolbar.x-small-editor .x-form-field-wrap.x-form-field-trigger-wrap.search .x-form-trigger {
	height: 21px !important;
}

.searchIco {
	background-image: url(../ToolbarPlugins/search.png)
}
		</style>
		<script charset="utf-8" src="../../../../../../../Sencha/ExtJS/ExtJS3/ExtJS3/adapter/ext/ext-base-debug.js"></script>
        <script charset="utf-8" src="../../../../../../../Sencha/ExtJS/ExtJS3/ExtJS3/ext-all-debug.js"></script>
        <script charset="utf-8" src="app.js"></script>
	</head>
	<body>
	</body>
</html>
