<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="connectionString" value="Provider=Sybase.ASEOLEDBProvider;Server Name=localhost;Server Port Address=5000;User ID=sa;Password=;Initial Catalog=testdb" />
<!--    <add key="connectionString" value="Provider=Sybase.ASEOLEDBProvider;Server Name=NOZHENKO;Server Port Address=5000;User ID=sa;Password=;Initial Catalog=testdb" /> -->
<!--    <add key="connectionString" value="Provider=Sybase.ASEOLEDBProvider;Server Name=192.168.0.21;Server Port Address=5000;User ID=sa;Password=;Initial Catalog=testdb" /> -->
  </appSettings>
</configuration>
