<html>
<!-- http://xtrace.blogspot.com/2011/09/extjs-tree-filter-filtering-tree-items.html -->
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>demo</title>
        <script type="text/javascript"></script>
		<!-- **CSS** -->
        <link rel="stylesheet" type="text/css" href="../../../../../../ExtJS/ExtJS4/resources/css/ext-all.css"/>

        <script type="text/javascript" src="../../../../../../ExtJS/ExtJS4/ext-all-debug.js"></script>



        <script type="text/javascript" src="treeDemo1.js"></script>

        <script type="text/javascript">

            if(typeof(console) == 'undefined' || typeof(console.log) == 'undefined') {

               console = {}

                console.log = function(message){
                    alert(message);
                }
            }
        </script>
	</head>
	<body>
	</body>
</html>	
	