angular/**
bootstrap/**
breeze/**
codemirror/**
datajs/**
JayData/**
js/**
jQuery/**
kendo/**
Leaflet/**
Sencha/**
tinymce/**
UnitTesting/**
YUI/**

*_out.dbf
*_out.xls
*_out.xlsx
*_out.doc
*_out.docx
