angular/**
babel/**
bootstrap/**
breeze/**
codemirror/**
datajs/**
JayData/**
js/**
jslint/**
jQuery/**
jQuery-ui/**
kendo/**
react/**
Selectize/**
SoftLine/**
Leaflet/**
Sencha/**
tinymce/**
UnitTesting/**
YUI/**
dojo/**
emsdk

*_out.dbf
*_out.xls
*_out.xlsx
*_out.doc
*_out.docx

bootstrap.js
bootstrap.css

*.wasm
