<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h4>
            Header Page
        </h4>
    </div>
    <div>
        @RenderBody()
    </div>
    <div>
        <h4>
            Bottom Page
        </h4>
    </div>
</body>
</html>
