<!doctype html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Ext.grid.Panel (Test Filter)</title>
		<link rel="stylesheet" href="../../../../../../../../Sencha/ExtJS/ExtJS4/ExtJS4.2.1/resources/css/ext-all.css"/>
		<script charset="utf-8" src="../../../../../../../../Sencha/ExtJS/ExtJS4/ExtJS4.2.1/ext-all-debug.js"></script>
		<style>
/*.x-column-header-text
{
	font-weight: bold;
}
*/

.columnHeaderTextBold
{
	font-weight: bold;
}

.columnHeaderTextAlignCenter
{
	text-align: center;
}

.columnHeaderTextAlignCenterAndBold
{
	font-weight: bold;
	text-align: center;
}
		</style>
		<script charset="utf-8" src="app.js"></script>
	</head>
	<body>
	</body>
</html>