@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Страница не найдена</title>
</head>
<body>
    <div>
        Страница не найдена
         <br />
        <a href="/">Вернуться на главную</a>
    </div>
</body>
</html>
