<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="MSSQLServer" providerName="Sybase.ASEOLEDBProvider" connectionString="Server Name=localhost;Server Port Address=5000;User ID=sa;Password=;Initial Catalog=testdb" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <clear />
    <add key="keyAAA" value="_AAA_" />
  </appSettings>
</configuration>
