<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
<!--    <add key="connectionString" value="Server=localhost;Port=5000;Initial Catalog=veksel;User ID=sa;Password=" /> -->
    <add key="connectionString" value="Server=localhost;Port=5000;Charset=cp1251;Language=russian;Initial Catalog=testdb;User ID=sa;Password=" />
<!--    <add key="connectionString" value="Server=NOZHENKO;Port=5000;Initial Catalog=testdb;User ID=sa;Password=" /> -->
<!--    <add key="connectionString" value="Server=192.168.0.21;Port=5000;Initial Catalog=testdb;User ID=sa;Password=" /> -->
  </appSettings>
</configuration>
