<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <authentication mode="Windows" />

    <httpHandlers>
      <add verb="*" path="data.aspx" type="TestGridWithInfiniteScrolling.DataHandler, TestGridWithInfiniteScrolling"/>
    </httpHandlers>

  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
