<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <clear />
    <!-- <add name="FirebirdServer" connectionString="User=sysdba;Password=masterkey;DataSource=localhost;Port=3050;Database=d:\soft.src\c#\test\ado.net\fb\test.fdb;Charset=WIN1251;Dialect=3;ServerTyp=0" /> -->
    <add name="FirebirdServer" connectionString="User=sysdba;Password=masterkey;DataSource=localhost;Port=3050;Database=testdbcs;Charset=WIN1251;Dialect=3;ServerTyp=0" />
  </connectionStrings>
  <system.data>
		<DbProviderFactories>
			<remove invariant="FirebirdSql.Data.FirebirdClient" />
			<add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" />
		</DbProviderFactories>
	</system.data>
</configuration>
