<input type="button" value="Inspect" (click)="onClickInspect()"/>
<hr>
<input type="button" value="Test one (subscribe)" (click)="onClickTestOneSubscribe()"/>
<input type="button" value="Test one (pipe)" (click)="onClickTestOnePipe()"/>
<hr>
<input type="button" value="Test three (combineLatest)" (click)="onClickTestThreeCombineLatest()"/>
<input type="button" value="Test three (forkJoin)" (click)="onClickTestThreeForkJoin()"/>
<input type="button" value="Test three (switchMap)" (click)="onClickTestThreeSwitchMap()"/>
<input type="button" value="Test three (mergeMap)" (click)="onClickTestThreeMergeMap()"/>
<hr>
<input type="button" value="Test full response" (click)="onClickTestFullResponse()"/>
<input type="button" value="Test handle error" (click)="onClickTestHandleError()"/>
<input type="button" value="Test retry" (click)="onClickTestRetry()"/>
