.container {
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  column-gap: 10px;
  align-items: center;
}

.testButton {
  color: var(--white);
  background-color: var(--blue);
}

/*
.pureCSSClass {
  border: 1px solid black;
}
*/