<html>
	<head>
		<meta charset="utf-8"/>
		<title>Test kendo.ui.Window (simple)</title>
		<link rel="stylesheet" href="../../../../../kendo/styles/kendo.common.min.css"/>
		<link rel="stylesheet" href="../../../../../kendo/styles/kendo.default.min.css"/>

		<script charset="utf-8" src="../../../../../jQuery/2/jquery.js"></script>
		<script charset="utf-8" src="../../../../../kendo/js/kendo.all.min.js"></script>

		<script charset="utf-8" src="MainForm.js"></script>
	</head>
	<body>
		<button type="button" id="btnOpen">Open</button>
		<button type="button" id="btnClose">Close</button>
		<button type="button" id="btnContent">Content</button>
		<hr/>
		<input type="text" id="inpContent" class="k-textbox"/>
		<hr/>
		<div id="divWindow"></div>
	</body>
</html>