@model IFrameViewModel
@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>IFRAME (@Model.FrameNo)</title>
    <script>
        function btnOnClick() {
            if (window.console && console.log)
                console.log("iframe.btnOnClick(%o)", arguments);

            if (window.top && window.top.postMessage)
                window.top.postMessage(`Hello from IFRAME #${getUrlSearchParam("frameNo")} (window.top.postMessage())`, "*");

            if (window.parent && window.parent.postMessage)
                window.parent.postMessage(`Hello from IFRAME #${getUrlSearchParam("frameNo")} (window.parent.postMessage())`, "*");

            // Uncaught DOMException: Blocked a frame with origin "http://localhost:5295" from accessing a cross-origin frame.
            // doesn't work (Access-Control-Allow-Origin is used only for XHR)
            // if (window.top && window.top.smthObj && window.top.smthObj.smthMetod)
            //    window.top.smthObj.smthMetod(`Hello from IFRAME #${getUrlSearchParam("frameNo")}`);
        }

        function getUrlSearchParam(paramName) {
            var searchParams = new URLSearchParams(location.search);
            return searchParams.get(paramName);
        }
    </script>
</head>
<body>
    <h1>IFRAME #@Model.FrameNo</h1>
    <button id="btnVictim" onclick="btnOnClick(this)">DoIt!</button>
</body>
</html>
