<?xml version="1.0" encoding="utf-8"?>
<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <customSection2 xdt:Transform="Replace">
    <item1 key="value1" value="customSection2_value1_this_value_will_be_replaced_by_QA"/>
  </customSection2>

  <customSection3 xdt:Transform="Replace">
    <item1 key="value1" value="customSection3_value1_this_value_will_be_replaced_by_QA" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
  </customSection3>

  <testCondition>
    <item key="item1" value="testCondition_item1_with_smthAttr1_value_QA" xdt:Transform="Replace" xdt:Locator="Condition(@smthAttr='smthAttr1')"/>
    <item key="item2" value="testCondition_item2_with_smthAttr2_value_QA" xdt:Transform="Replace" xdt:Locator="Condition(@smthAttr='smthAttr1')"/>
  </testCondition>

  <connectionStrings>
    <add name="newName" connectionString="newConnectionString" providerName="newProviderName" xdt:Transform="Replace" xdt:Locator="Condition(@name='oldname' or @providerName='oldprovider')"/>
    <add name="newName" connectionString="newConnectionString" providerName="newProviderName" xdt:Transform="Replace" xdt:Locator="Condition(@name='oldname' or @providerName='oldprovider')"/>
  </connectionStrings>

</configuration>