@model TestView.Models.ViewResponse

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8"/>
        <meta name="viewport" content="width=device-width" />
        <title>Test View</title>
    </head>
    <body>
        @using (Html.BeginForm())
        {
            <p>StringFieldI: @Html.TextBoxFor(x => x.StringFieldI)</p>
            <input type="submit" value="Submit" />
        }
    </body>
</html>
