Foxtrot/
InBase/
TestMDM/
TestPCB/
Veksel/
OAuth2Demo/
IdentityServer4/
Mvc-dev/

ext/
LightSwitch/
JayData/

#bootstrap
bootstrap*.js
bootstrap*.css
bootstrap*.css.map
glyphicons-halflings-regular.eot
glyphicons-halflings-regular.svg
glyphicons-halflings-regular.ttf
glyphicons-halflings-regular.woff

modernizr*.js
respond*.js
MicrosoftAjax*.js
MicrosoftMvcAjax*.js
MicrosoftMvcValidation*.js
kendo*.js
kendo*.js.map
angular*.js
jszip*.js
knockout*.js

jquery*.js
jquery*.map
jquery*.css
jquery*.css.map
