<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <clear/>
    <!--add name="connectionString" connectionString="Data Source=sunopps2-stg.database.windows.net;Initial Catalog=SunEdge;User Id=SunOppsServicesUser;Password='SOSSTG789&amp;*('" providerName="System.Data.SqlClient" /-->
    <!--add name="connectionString" connectionString="Data Source=sunopps2-qa.database.windows.net;Initial Catalog=SunEdge;User Id=SunOppsServicesUser;Password='SOSQA789&amp;*('" providerName="System.Data.SqlClient"/-->
    <!--add name="connectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=testdb;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/-->
    <add name="connectionString" connectionString="Data Source=.;Initial Catalog=testdb;User Id=sa;Password=123;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
</configuration>
