<h1>Home Page</h1>

@if (User.Identity.IsAuthenticated)
{
    <h1>User is authenticated</h1>
}
else
{
    <h1>User is NOT authenticated</h1>
}

@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService authorizationService
