<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Provider=Sybase.ASEOLEDBProvider;Server Name=localhost;Server Port Address=5000;Initial Catalog=veksel;User ID=sa;Password=" />
<!--    <add key="ConnectionString" value="Provider=Sybase.ASEOLEDBProvider;Server Name=localhost;Server Port Address=4999;Initial Catalog=veksel;User ID=sa;Password=" /> -->
  </appSettings>
</configuration>
