<!doctype html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Test Ext.tree.Panel (treegrid with templatecolumn)</title>
		<!-- <link rel="stylesheet" href="http://cdn.sencha.io/ext-4.1.1-gpl/resources/css/ext-all.css"/>
		<script charset="utf-8" src="http://cdn.sencha.io/ext-4.1.1-gpl/ext-all-debug.js"></script> -->
		<link rel="stylesheet" href="../../../../../../../../Sencha/ExtJS/ExtJS4/ExtJS4/resources/css/ext-all.css"/>
		<script charset="utf-8" src="../../../../../../../../Sencha/ExtJS/ExtJS4/ExtJS4/ext-all-debug.js"></script>
		<script charset="utf-8" src="app.js"></script>
	</head>
	<body>
		<div id="div1"></div>
		<hr/>
		<div id="div2"></div>
	</body>
</html>