<!doctype html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Ext.grid.Panel (test renderer)</title>
		<link rel="stylesheet" href="../../../../../../../../Sencha/ExtJS/ExtJS4/ExtJS4/resources/css/ext-all.css"/>
		<style>
.color-box {
	/*float: left;*/
	width: 10px;
	height: 10px;
	/*margin: 5px;*/
	margin-right: 5px;
	border: 1px solid rgba(0, 0, 0, .2);
	display: inline-block;
	border-radius: 2px;
	vertical-align: middle;
}

.color1 {
	background-color: lime;
}

.color2 {
	background-color: black;
}

.legend {
	color: red;
	font-weight: bold;
	/*clear: left;*/
}

.fourth {
	color: blue;
	font-weight: bold;
	background-color: green;
}
/*
.x-grid-row .x-grid-cell-inner {
	white-space: normal;
}
*/
		</style>
		<script charset="utf-8" src="../../../../../../../../Sencha/ExtJS/ExtJS4/ExtJS4/ext-all-debug.js"></script>
		<script charset="utf-8" src="app.js"></script>
	</head>
	<body>
	</body>
</html>