<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="fileExtension" type="DEUpdater.Config.DEUpdaterConfigurationSection, DEUpdater"/>
    <section name="pattern" type="DEUpdater.Config.DEUpdaterConfigurationSection, DEUpdater"/>
  </configSections>
  <fileExtension>
    <items>
      <add value=".csproj"/>
      <add value=".licx"/>
      <add value=".resx"/>
    </items>
  </fileExtension>
  <pattern>
    <items>
      <add value="(?&lt;=DevExpress\..+?\.v\d+\.\d+.*?,\s*Version\s*=\s*)\d+\.\d+\.\d+\.\d+(?=[,])"/>
      <add value="(?&lt;=DevExpress\..+?\.v)\d+\.\d+(?=[.,&quot;])"/>
    </items>
  </pattern>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
</configuration>
