<?xml version="1.0"?>
<log4net>
  <root>
    <level value="ALL"/>
    <!-- <appender-ref ref="RollingFileAppender"/> -->
    <appender-ref ref="FileAppender"/>
  </root>
  <!--
    <logger name="RollingFileAppender">
      <level value="ALL"/>
      <appender-ref ref="RollingFileAppender"/>
    </logger>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value=""/>
      <staticLogFileName value="true"/>
      <datePattern value="yyyy-MM-dd_hh-mm-ss.lo'g'"/>
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
-->
  <logger name="FileAppender">
    <level value="ALL"/>
    <appender-ref ref="FileAppender"/>
  </logger>
  <appender name="FileAppender" type="log4net.Appender.FileAppender">
    <file type="log4net.Util.PatternString" value="%date{yyyy-MM-dd_HH-mm-ss}_%property{GlobalContextProperty}_%property{LogicalThreadContextProperty}_%property{ThreadContextProperty}_log-file_%processid.txt" />
    <appendToFile value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%ndc] [%property{NDC}] %property{GlobalContextProperty} %property{LogicalThreadContextProperty} %property{ThreadContextProperty} - [%identity] [%username] %message%newline" />
    </layout>
  </appender>
</log4net>
