<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bundle and Minify</title>
    <link rel="stylesheet" href="~/css/bundle.min.css" />
</head>
<body>
    <header>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
    </footer>
    <script src="~/js/bundle.min.js"></script>
</body>
</html>
