<ng-container>
    <input type="button" value="getTodos()" (click)="onClickGetTodos()">
    <input type="button" value="selectAll()" (click)="onClickSelectAll()">
    <input type="button" value="getAll()" (click)="onClickGetAll()">
    <hr>
    <ng-container *ngIf="!!todo; else loading">
        {{todo.id}} {{todo.name}}
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>items</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let group of todo.groups; index as groupIdx">
                    <td>{{group.id}}</td>
                    <td>{{group.name}}</td>
                    <td>
                        <table>
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>name</th>
                                    <th>checked</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of group.items; index as itemIdx">
                                    <td>{{item.id}}</td>
                                    <td>{{item.name}}</td>
                                    <td>{{item.checked}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td> 
                </tr>
            </tbody>
        </table>
    </ng-container>
    <ng-template #loading>
        loading
    </ng-template>
</ng-container>
