<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="SingleTagSection" type="System.Configuration.SingleTagSectionHandler" />
    <section name="globalization" type="System.Configuration.SingleTagSectionHandler" />
  </configSections>

  <SingleTagSection STSparam1key="STSparam1keyvalue" STSparam2key="STSparam2keyvalue" STSparam3key="STSparam3keyvalue" />

  <globalization culture="uk-UA" />

</configuration>