<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <authentication mode="Windows" />

    <httpHandlers>
      <add verb="*" path="contact-picture.aspx" type="TestFormsWithFileUpload.PictureHandler, TestFormsWithFileUpload"/>
    </httpHandlers>

  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
