<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="ru">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=windows-1251"/>
		<title>&laquo;Test Layout II&raquo;</title>
		<link rel="stylesheet" type="text/css" href="../../../../ExtJS/resources/css/ext-all.css"/>
		<script type="text/javascript" charset="windows-1251" src="../../../../ExtJS/adapter/ext/ext-base-debug.js"></script>
		<script type="text/javascript" charset="windows-1251" src="../../../../ExtJS/ext-all-debug.js"></script>
		<script type="text/javascript" charset="windows-1251" src="MainForm.js"></script>
	</head>
	<body>
	</body>
</html>
