<html>
	<head>
		<meta charset="utf-8"/>
		<title>Test kendo.ui.Menu (simple)</title>

		<link rel="stylesheet" href="../../../../../kendo/styles/kendo.common.min.css"/>
		<link rel="stylesheet" href="../../../../../kendo/styles/kendo.default.min.css"/>

		<script charset="utf-8" src="../../../../../jQuery/2/jquery.js"></script>
		<script charset="utf-8" src="../../../../../kendo/src/js/kendo.web.js"></script>

		<script charset="utf-8" src="MainForm.js"></script>
	</head>
	<body>
		<ul id="menu">
			<li>1st
				<ul>
					<li>SubItem# 1</li>
					<li>SubItem# 2</li>
					<li>SubItem# 3</li>
					<li>SubItem# 4</li>
				</ul>
			</li>
			<li>2nd
				<ul>
					<li>SubItem# 1</li>
					<li>SubItem# 2</li>
					<li>SubItem# 3</li>
					<li>SubItem# 4</li>
				</ul>
			</li>
			<li>3rd
				<ul>
					<li>SubItem# 1</li>
					<li>SubItem# 2</li>
					<li>SubItem# 3</li>
					<li>SubItem# 4</li>
				</ul>
			</li>
			<li>4th
				<ul>
					<li>SubItem# 1</li>
					<li>SubItem# 2</li>
					<li>SubItem# 3</li>
					<li>SubItem# 4</li>
				</ul>
			</li>
		</ul>
	</body>
</html>