<html>
	<head>
		<meta charset="utf-8"/>
		<title>Test Anchor aka Button</title>

		<link rel="stylesheet" href="../../../../kendo/styles/kendo.common.min.css"/>
		<link rel="stylesheet" href="../../../../kendo/styles/kendo.default.min.css"/>

		<script charset="utf-8" src="../../../../jQuery/2/jquery.js"></script>
		<!-- <script charset="utf-8" src="../../../../kendo/src/js/kendo.web.js"></script> -->
		<script charset="utf-8" src="../../../../kendo/js/kendo.all.min.js"></script>

		<script charset="utf-8" src="MainForm.js"></script>
	</head>
	<body>
		<a id="a1" href="#" class="k-button k-button-icontext k-grid-delete"><span class="k-icon k-delete"></span>Button# 1</a>
		<a id="a2" href="#" class="k-button k-button-icontext k-grid-delete" onclick="return false;"><span class="k-icon k-delete"></span>Button# 2</a>
		<a id="a3" href="#" class="k-button k-button-icontext k-grid-delete"><span class="k-icon k-delete"></span>Button# 3</a>
		<a id="a4" href="#" class="k-button k-button-icontext k-grid-delete"><span class="k-icon k-delete"></span>Button# 4</a>
	</body>
</html>
