<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>

  <enterpriseLibrary.ConfigurationSource selectedSource="Softline.DocNet.Core.DI.ServiceLocator">
    <sources>
      <add
				name="Softline.DocNet.Core.DI.ServiceLocator"
				type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
				filePath="c:\Inetpub\wwwroot\wss\VirtualDirectories\80\web.config" />
    </sources>
  </enterpriseLibrary.ConfigurationSource>

</configuration>