<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionString />
  <connectionString value="" />
  <connectionString value="Server=.;Database=ch;User ID=sa; PaSsWoRd =blah-blah-blah" />
  <pathToConfigurationFiles />
  <pathToConfigurationFiles value="" />
  <pathToConfigurationFiles value="3rd" />
  <pathToConfigurationFiles value="4th" />
  <testCondition>
    <item key="item1" value="testCondition_item1_with_smthAttr1_value" smthAttr="smthAttr1" />
    <item key="item2" value="testCondition_item2_with_smthAttr2_value" smthAttr="smthAttr2" />
  </testCondition>
</configuration>