<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionString />
  <connectionString value="" />
  <connectionString value="Server=.;Database=ch;User ID=sa; PaSsWoRd =blah-blah-blah" />
  <pathToConfigurationFiles />
  <pathToConfigurationFiles value="" />
  <pathToConfigurationFiles value="3rd" />
  <pathToConfigurationFiles value="4th" />
</configuration>