<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <add verb="*" path="Data.aspx" type="TestJQueryAJAX.DataHandler, TestJQueryAJAX"/>
      <add verb="*" path="TestPromise.aspx" type="TestJQueryAJAX.TestPromiseHandler, TestJQueryAJAX"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
