<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <add name="DataAspx" verb="*" path="Data.aspx" type="TestJQueryAJAX.DataHandler, TestJQueryAJAX"/>
      <add name="TestPromiseAspx" verb="*" path="TestPromise.aspx" type="TestJQueryAJAX.TestPromiseHandler, TestJQueryAJAX"/>
    </handlers>
  </system.webServer>
</configuration>
