<html>
	<head>
		<meta charset="utf-8"/>
		<title>Test Ext.window.Window events</title>
		<!-- <link rel="stylesheet" href="http://cdn.sencha.io/ext-4.1.1-gpl/resources/css/ext-all.css"/>
		<script charset="utf-8" src="http://cdn.sencha.io/ext-4.1.1-gpl/ext-all-debug.js"></script> -->
		<link rel="stylesheet" href="../../../../../../../ExtJS/ExtJS4/ExtJS4.1.1/resources/css/ext-all.css"/>
		<script charset="utf-8" src="../../../../../../../ExtJS/ExtJS4/ExtJS4.1.1/ext-all-debug.js"></script>
		<script charset="utf-8" src="MainForm.js"></script>
	</head>
	<body>
	</body>
</html>