<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <authentication mode="Windows" />

  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>

    <handlers>
      <add name="DataHandler" verb="*" path="data.aspx" type="TestGridWithFiltersFeature.DataHandler, TestGridWithFiltersFeature"/>
    </handlers>

  </system.webServer>
</configuration>
