@model LessonProject.Models.ViewModels.LoginView
@{
    ViewBag.Title = "Вход";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}

<h2>Вход</h2>

@using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <fieldset>
        <legend>Вход</legend>
        <div class="control-group">
            <label class="control-label" for="Email">
                Email</label>
            <div class="controls">
                @Html.TextBox("Email", Model.Email, new { @class = "input-xlarge" })
                <p class="help-block">Введите Email</p>
                @Html.ValidationMessage("Email")
            </div>

        </div>
        <div class="control-group">
            <label class="control-label" for="Password">
                Пароль</label>
            <div class="controls">
                @Html.Password("Password", Model.Password, new { @class = "input-xlarge" })
                @Html.ValidationMessage("Password")
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                Войти</button>
        </div>
    </fieldset>
}