<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="appSettingsKey1" value="appSettingsKey1Value"/>
    <add key="appSettingsKey2" value="appSettingsKey2Value"/>
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
