<fieldset>
    <legend>&nbsp;valueWithGetterAndSetter&nbsp;</legend>
    {{valueWithGetterAndSetter}}<br/>
    <input type="text" [value]="valueWithGetterAndSetter" /><br/>
    <input type="text" [(ngModel)]="valueWithGetterAndSetter" /><br/>
</fieldset>
<fieldset>
    <legend>&nbsp;value&nbsp;</legend>
    {{value}}<br/>
    <input type="text" [value]="value" /><br/>
    <input type="text" [(ngModel)]="value" /><br/>
</fieldset>
<fieldset>
    <legend>&nbsp;parentValue&nbsp;</legend>
    {{parentValue}}<br/>
    <input type="text" [value]="parentValue" /><br/>
    <input type="text" [(ngModel)]="parentValue" /><br/>
</fieldset>
