<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net, Version=1.2.13.0, Culture=neutral, PublicKeyToken=669e0ddf0bb1aa2a"/>
  </configSections>

  <log4net>
    <root>
      <level value="ALL"/>
      <appender-ref ref="FileAppenderMain"/>

      <appender-ref ref="FileAppenderOff"/>
      <appender-ref ref="FileAppenderFatal"/>
      <appender-ref ref="FileAppenderError"/>
      <appender-ref ref="FileAppenderWarn"/>
      <appender-ref ref="FileAppenderInfo"/>
      <appender-ref ref="FileAppenderDebug"/>
      <appender-ref ref="FileAppenderAll"/>
    </root>

    <logger name="FileAppenderMain">
      <level value="WARN"/>
      <appender-ref ref="FileAppenderMain"/>
    </logger>
    <appender name="FileAppenderMain" type="log4net.Appender.FileAppender">
      <file value="LoggerMain.log"/>
      <appendToFile value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="FileAppenderMain"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter"/>
    </appender>

    <logger name="FileAppenderOff">
      <level value="OFF"/>
      <appender-ref ref="FileAppenderOff"/>
    </logger>
    <appender name="FileAppenderOff" type="log4net.Appender.FileAppender">
      <threshold value="OFF"/>
      <file value="LoggerOff.log"/>
      <appendToFile value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="LoggerOff"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter"/>
    </appender>

    <logger name="FileAppenderFatal">
      <level value="FATAL"/>
      <appender-ref ref="FileAppenderFatal"/>
    </logger>
    <appender name="FileAppenderFatal" type="log4net.Appender.FileAppender">
      <threshold value="FATAL"/>
      <file value="LoggerFatal.log"/>
      <appendToFile value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="LoggerFatal"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter"/>
    </appender>

    <logger name="FileAppenderError">
      <level value="ERROR"/>
      <appender-ref ref="FileAppenderError"/>
    </logger>
    <appender name="FileAppenderError" type="log4net.Appender.FileAppender">
      <threshold value="ERROR"/>
      <file value="LoggerError.log"/>
      <appendToFile value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="LoggerError"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter"/>
    </appender>

    <logger name="FileAppenderWarn">
      <level value="WARN"/>
      <appender-ref ref="FileAppenderWarn"/>
    </logger>
    <appender name="FileAppenderWarn" type="log4net.Appender.FileAppender">
      <threshold value="WARN"/>
      <file value="LoggerWarn.log"/>
      <appendToFile value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="LoggerWarn"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter"/>
    </appender>

    <logger name="FileAppenderInfo">
      <level value="INFO"/>
      <appender-ref ref="FileAppenderInfo"/>
    </logger>
    <appender name="FileAppenderInfo" type="log4net.Appender.FileAppender">
      <threshold value="INFO"/>
      <file value="LoggerInfo.log"/>
      <appendToFile value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="LoggerInfo"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter"/>
    </appender>

    <logger name="FileAppenderDebug">
      <level value="DEBUG"/>
      <appender-ref ref="FileAppenderDebug"/>
    </logger>
    <appender name="FileAppenderDebug" type="log4net.Appender.FileAppender">
      <threshold value="DEBUG"/>
      <file value="LoggerDebug.log"/>
      <appendToFile value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="LoggerDebug"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter"/>
    </appender>

    <logger name="FileAppenderAll">
      <level value="ALL"/>
      <appender-ref ref="FileAppenderAll"/>
    </logger>
    <appender name="FileAppenderAll" type="log4net.Appender.FileAppender">
      <threshold value="ALL"/>
      <file value="LoggerAll.log"/>
      <appendToFile value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="LoggerAll"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter"/>
    </appender>
  </log4net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
