.title
{
 font-size: xx-large;
 font-weight: bold;
 color: blue;
 text-align: center;
 text-decoration: blink
}

.helicopter
{
 font-size: xx-large;
 font-weight: bold;
 color: blue;
 text-align: center
}

.StopWatch
{
 font-size: xx-large;
 font-weight: bold;
 color: blue;
 text-align: center
}
