<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="System.Data.Odbc" connectionString="Driver={SYBASE ASE ODBC Driver};NA=localhost,5000;Uid=sa;Pwd=;DB=testdb" />
<!--    <add name="System.Data.Odbc" connectionString="Driver={SYBASE ASE ODBC Driver};NA=nozhenko,5000;Uid=sa;Pwd=;DB=testdb" /> -->
    <add name="System.Data.OleDb" providerName="Sybase.ASEOLEDBProvider" connectionString="Server Name=localhost;Server Port Address=5000;User ID=sa;Password=;Initial Catalog=testdb" />
<!--    <add name="System.Data.OleDb" providerName="Sybase.ASEOLEDBProvider" connectionString="Server Name=nozhenko;Server Port Address=5000;User ID=sa;Password=;Initial Catalog=testdb" /> -->
    <add name="Sybase.Data.AseClient" connectionString="Server=localhost;Port=5000;Initial Catalog=testdb;User ID=sa;Password=" />
    <add name="FirebirdSql.Data.FirebirdClient" connectionString="User=sysdba;Password=masterkey;DataSource=localhost;Port=3050;Database=E:\Soft.src\CBuilder\Tests\IB\TestIB.#1\TEST.GDB;Charset=WIN1251;Dialect=3;ServerTyp=0" />
  </connectionStrings>
  <appSettings>
    <add key="SybaseOdbc" value="System.Data.Odbc" />
    <add key="SybaseOleDb" value="System.Data.OleDb" />
    <add key="SybaseAseClient" value="Sybase.Data.AseClient" />
    <add key="Firebird" value="FirebirdSql.Data.FirebirdClient" />
<!--    <add key="Provider" value="SybaseOdbc" /> -->
<!--    <add key="Provider" value="SybaseOleDb" /> -->
<!--    <add key="Provider" value="SybaseAseClient" /> -->
    <add key="Provider" value="Firebird" />
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".Net Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient, Version=2.1.0.0, Culture=neutral, PublicKeyToken=3750abcc3150b00c, processorArchitecture=MSIL" />
      <add name="SybaseAseClient Data Provider" invariant="Sybase.Data.AseClient" description=".Net Framework Data Provider for Sybase Ase" type="Sybase.Data.AseClient, Version=1.15.152.0, Culture=neutral, PublicKeyToken=26e0f1529304f4a7" />
    </DbProviderFactories>
  </system.data>
</configuration>