<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="SybaseASEServer" providerName="Sybase.ASEOLEDBProvider" connectionString="Server Name=localhost;Server Port Address=5000;User ID=sa;Password=;Initial Catalog=testdb" />
  </connectionStrings>
</configuration>