<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html class="  ext-strict x-viewport" xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="ru">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=windows-1251"/>
		<title>&laquo;Test Portal&raquo;</title>

		<link rel="stylesheet" type="text/css" href="../../../../ExtJS/resources/css/ext-all.css"/>
		<!-- overrides to base library -->
		<link rel="stylesheet" type="text/css" href="Portal.css">
		<link rel="stylesheet" type="text/css" href="GroupTab.css">

		<!-- page specific -->
		<style type="text/css">
			/* styles for iconCls */
			.x-icon-tickets {
				background-image: url('images/tickets.png');
			}
			.x-icon-subscriptions {
				background-image: url('images/subscriptions.png');
			}
			.x-icon-users {
				background-image: url('images/group.png');
			}
			.x-icon-templates {
				background-image: url('images/templates.png');
			}
		</style>

		<script type="text/javascript" charset="windows-1251" src="../../../../ExtJS/adapter/ext/ext-base.js"></script>
		<script type="text/javascript" charset="windows-1251" src="../../../../ExtJS/ext-all-debug.js"></script>

		<!-- extensions -->
		<script type="text/javascript" charset="windows-1251" src="GroupTabPanel.js"></script>
		<script type="text/javascript" charset="windows-1251" src="GroupTab.js"></script>

		<script type="text/javascript" charset="windows-1251" src="Portal.js"></script>
		<script type="text/javascript" charset="windows-1251" src="PortalColumn.js"></script>
		<script type="text/javascript" charset="windows-1251" src="Portlet.js"></script>

		<script type="text/javascript" charset="windows-1251" src="examples.js"></script>
		<script type="text/javascript" charset="windows-1251" src="sample-grid.js"></script>
		<script type="text/javascript" charset="windows-1251" src="grouptabs.js"></script>
	</head>
	<body>
	</body>
</html>
