@{
    ViewBag.Title = "Home Page";
}

<div>
    <label for="fString">fString:</label><input id="fString" type="text" value="fString" /> <label for="fInt">fInt:</label><input id="fInt" type="text" value="1" />
    <hr />
    <input id="getInt" type="button" value="GET -> int" /><input id="postInt" type="button" value="POST -> int" /><input id="postJsonInt" type="button" value="POST (JSON) -> int" /><br />
    <input id="getJson" type="button" value="GET -> JSON" /><input id="postJson" type="button" value="POST -> JSON" /><input id="postJsonJson" type="button" value="POST (JSON) -> JSON" />
    <hr />
    <input id="result" type="text" />
</div>
