<!doctype html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Test Ext.grid.GridPanel (column width)</title>
		<link rel="stylesheet" href="../../../../../../../Sencha/ExtJS/ExtJS3/ExtJS3.3.1/resources/css/ext-all.css"/>
		<style>
.bullet-green {
	background-image: url("bullet_green.png");
}
.bullet-red {
	background-image: url("bullet_red.png");
}
		</style>
		<script charset="utf-8" src="../../../../../../../Sencha/ExtJS/ExtJS3/ExtJS3.3.1/adapter/ext/ext-base-debug.js"></script>
		<script charset="utf-8" src="../../../../../../../Sencha/ExtJS/ExtJS3/ExtJS3.3.1/ext-all-debug.js"></script>
		<script charset="utf-8" src="app.js"></script>
	</head>
	<body>
	</body>
</html>
