<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="sectionGroupI">
      <sectionGroup name="sectionGroupII">
        <section name="MyConfigurationSection" type="TestConfig.MyConfigurationSection, TestConfig" />
        <section name="MyConfigurationElementGroupsContainer" type="TestConfig.MyConfigurationElementGroupsContainerSection, TestConfig" />
        <section name="MyConfigurationSectionWithProviders" type="TestConfig.MyConfigurationSectionWithProviders, TestConfig" />
      </sectionGroup>
    </sectionGroup>
    <section name="querySection" type="TestConfig.QuerySection, TestConfig" />
  </configSections>
  <sectionGroupI>
    <sectionGroupII>
      <MyConfigurationSection url="http://google.com/" />
      <MyConfigurationElementGroupsContainer>
        <MyConfigurationElementGroups>
          <MyConfigurationElement name="MyConfigurationElement1" />
          <MyConfigurationElement name="MyConfigurationElement2" />
          <MyConfigurationElement name="MyConfigurationElement3" />
        </MyConfigurationElementGroups>
      </MyConfigurationElementGroupsContainer>
      <MyConfigurationSectionWithProviders>
        <providers>
          <add name="Provider1" prop="val" type="" />
          <add name="Provider2" prop="val" type="" />
          <add name="Provider3" prop="val" type="" />
        </providers>
      </MyConfigurationSectionWithProviders>
    </sectionGroupII>
  </sectionGroupI>
  
  <querySection>
    <query statement="query" attributeBool="false" />
    <clauses>
      <add name="name1" condition="condition1" type="type1" operator="operator1" />
      <add name="name2" condition="condition2" type="type2" operator="operator2" />
      <add name="name3" condition="condition3" type="type3" />
      <add name="name4" condition="condition4" />
    </clauses>
  </querySection>
  
  <connectionStrings>
    <clear/>
    <add name="chicago" connectionString="server=i-nozhenko;database=ch;uid=sa;pwd=12&#61;&#61;3"/>
  </connectionStrings>
</configuration>