<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITestService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/TestWCF5/TestService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITestService"
        contract="TestWCF5Service.ITestService" name="BasicHttpBinding_ITestService" />
    </client>
  </system.serviceModel>
</configuration>