<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependetAssembly>
				<assemblyIdentity name="Math" public KeyToken="c762bae07297ffa0" />
				<bindingRedirect oldVersion="1.0.0.0" newVersion="1.1.0.0" />
			</dependetAssembly>
			<probing privatePath="bin" />
		</assemblyBinding>
	</runtime>
</configuration>