<?xml version="1.0" encoding="utf-8"  standalone="yes" ?>
<configuration>
  <configSections>
    <sectionGroup name="SomeSectionGroupName" >
      <section name="AuthenticationSection" type="Pluggin.AuthenticationConfigurationSection, Pluggin" />
    </sectionGroup>
  </configSections>
  <SomeSectionGroupName>
    <AuthenticationSection>
      <UserCollection>
        <UserConfigurationElement id="1" name="Nikola" surname="Malovic" />
        <UserConfigurationElement id="2" name="Snezana" surname="Malovic" />
        <UserConfigurationElement id="3" name="Nina" />
      </UserCollection>
    </AuthenticationSection>
  </SomeSectionGroupName>
</configuration>
