<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="StaffHandler" verb="*" path="staff.aspx" type="TestFormsAuthentication.StaffHandler, TestFormsAuthentication"/>
    </handlers>
  </system.webServer>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    
    <authentication mode="Forms">
      <forms loginUrl="LoginForm.aspx" />
    </authentication>
    
    <authorization>
      <deny users="?"/>
    </authorization>
    
  </system.web>

  <location path="ext4.2.1">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="css">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="images">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="js">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  
  <location path="LoginForm.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  
  <location path="LoginFormHandler.aspx">
    <system.webServer>
      <handlers>
        <add name="LoginFormHandler" verb="*" path="LoginFormHandler.aspx" type="TestFormsAuthentication.LoginFormHandler, TestFormsAuthentication"/>
      </handlers>
    </system.webServer>

    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

</configuration>