@{
    ViewData["Title"] = "Cross Domain Communication";
}

<div class="text-center">
    <h1 class="display-4">Cross Domain Communication</h1>
    <hr/>
    <div>
        <input id="btnAddIFrame" type="button" value="Add IFRAME" /><input id="btnAddWidget" type="button" value="Add Widget" />
    </div>
    <div id="main"></div>
</div>
