<!doctype html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Ext.form.ComboBox with color items</title>
		<link rel="stylesheet" href="../../../../../ExtJS/ExtJS3/ExtJS3.4.0/resources/css/ext-all.css"/>
		<style>
.red
{
	color: red;
}
		</style>
		<script charset="utf-8" src="../../../../../ExtJS/ExtJS3/ExtJS3.4.0/adapter/ext/ext-base-debug.js"></script>
		<script charset="utf-8" src="../../../../../ExtJS/ExtJS3/ExtJS3.4.0/ext-all-debug.js"></script>
		<script>
Ext.BLANK_IMAGE_URL="../../../../../ExtJS/ExtJS3/ExtJS3.4.0/resources/images/default/s.gif";

Ext.onReady(function() {
	Ext.QuickTips.init();

	var
		cb = new Ext.form.ComboBox({
			store: new Ext.data.ArrayStore({
				autoDestroy: true,
				idIndex: 0,
				fields: [
					{ name: "id", type: "int" },
					"name"
				],
				data: [
					[ 1, "Record# 1" ],
					[ 2, "Record# 2" ],
					[ 3, "Record# 3" ],
					[ 4, "Record# 4" ]
				]
			}),
			displayField: "name",
			valueField: "id",
			mode: "local",
			tpl: "<tpl for=\".\"><div class=\"x-combo-list-item<tpl if=\"id==2\"> red</tpl>\">{name}</div></tpl>",
			renderTo: Ext.getBody()
		});
});
		</script>
	</head>
	<body>
	</body>
</html>
