<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <authentication mode="Windows" />

    <httpHandlers>
      <add verb="*" path="Form1.aspx" type="TestForm.Form1Handler, TestForm"/>
      <add verb="*" path="Staff.aspx" type="TestForm.StaffHandler, TestForm"/>
    </httpHandlers>

  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
