<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITestService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52027/TestService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ITestService" contract="TestASPnWCF.TestASPnWCFService.ITestService"
                name="BasicHttpBinding_ITestService" />
        </client>
    </system.serviceModel>
</configuration>