
@{
    ViewBag.Title = "Home";
}

<hr/>
<h1>Views/Home/Index.cshtml</h1>
<h2>Home</h2>

@Html.Partial("PartialView1")
@Html.Partial("~/Views/PartialViews/PartialViewsPartialView1.cshtml")
@Html.Partial("HomePartialView1")
@Html.Partial("HomePartialView2")
