
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

@Html.Partial("PartialView1")
@Html.Partial("~/Views/PartialViews/PartialViewsPartialView1.cshtml")
@Html.Partial("HomePartialView1")
@Html.Partial("HomePartialView2")
