<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
    <section name="iconConfig" type="LessonProject.Global.Config.IconSizesConfigSection, LessonProject" />
    <section name="mimeConfig" type="LessonProject.Global.Config.MimeTypesConfigSection, LessonProject" />
    <section name="mailConfig" type="LessonProject.Global.Config.MailSetting, LessonProject" />
    <section name="mailTemplatesConfig" type="LessonProject.Global.Config.MailTemplateConfigSection, LessonProject" />
    <section name="smsConfig" type="LessonProject.Global.Config.SmsSetting, LessonProject" />
  </configSections>
  <connectionStrings>
    <clear />
    <add name="LessonProjectConnectionString" connectionString="Data Source=.;Initial Catalog=LessonProject;Persist Security Info=True;User ID=sa;Password=123" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <nlog autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logDirectory" value="${basedir}/Content/logs/${shortdate}" />
    <targets>
      <target name="fileLogTrace" xsi:type="File" fileName="${logDirectory}/trace.txt" />
      <target name="fileLogDebug" xsi:type="File" fileName="${logDirectory}/debug.txt" />
      <target name="fileLogInfo" xsi:type="File" fileName="${logDirectory}/info.txt" />
      <target name="fileLogErrors" xsi:type="File" fileName="${logDirectory}/errors.txt" />
    </targets>
    <rules>
      <logger name="*" level="Trace" writeTo="fileLogTrace" />
      <logger name="*" level="Debug" writeTo="fileLogDebug" />
      <logger name="*" level="Info" writeTo="fileLogInfo" />
      <logger name="*" minlevel="Warn" writeTo="fileLogErrors" />
    </rules>
  </nlog>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Culture" value="ru" />
  </appSettings>
  <system.web>
    <httpRuntime targetFramework="4.5" />
    <compilation debug="true" targetFramework="4.5" /> <!-- without minify  -->
    <!-- <compilation debug="false" targetFramework="4.5" /> --> <!-- with minify  -->
    <authentication mode="Forms">
      <forms loginUrl="~/Login" timeout="2880" />
    </authentication>
    <customErrors mode="Off" defaultRedirect="~/Error">
      <error statusCode="403" redirect="~/Error" />
      <error statusCode="404" redirect="~/NotFoundPage" />
    </customErrors>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="LessonProject.Helper" />
        <add namespace="LessonProject.Tools" />
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
    
    <!-- for IIS 5.1 and IIS 6 -->
    <httpModules>
      <add name="AuthHttpModule" type="LessonProject.Global.Auth.AuthHttpModule" />
    </httpModules>
    
  </system.web>
  <system.web.webPages.razor>
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="LessonProject.Helper" />
        <add namespace="LessonProject.Tools" />
        <add namespace="LessonProject.App_LocalResources" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    
    <!-- for IIS 7+ -->
    <modules runAllManagedModulesForAllRequests="true">
      <add name="AuthHttpModule" type="LessonProject.Global.Auth.AuthHttpModule" />
    </modules>
    
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <iconConfig>
    <iconSizes>
      <add name="AvatarSize" width="173" height="173" />
      <add name="MaxImageSize" width="700" height="700" />
    </iconSizes>
  </iconConfig>
  <mimeConfig>
    <mimeTypes>
      <add name="application/pdf" resource="/Content/mime/application-pdf.png" small="/Content/mime/small/application-pdf.png" extension=".pdf" />
      <add name="application/msword" resource="/Content/mime/application-msword.png" small="/Content/mime/small/application-msword.png" extension=".doc" />
      <add name="application/vnd.openxmlformats-officedocument.wordprocessingml.document" resource="/Content/mime/application-msword.png" small="/Content/mime/small/application-msword.png" extension=".docx" />
      <add name="application/vnd.ms-excel" resource="/Content/mime/application-vnd-ms-excel.png" small="/Content/mime/small/application-vnd-ms-excel.png" extension=".xls" />
      <add name="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" resource="/Content/mime/application-vnd-ms-excel.png" small="/Content/mime/small/application-vnd-ms-excel.png" extension=".xlsx" />
      <add name="application/vnd.ms-powerpoint" resource="/Content/mime/application-vnd-ms-powerpoint.png" small="/Content/mime/small/application-vnd-ms-powerpoint.png" extension=".ppt" />
      <add name="application/vnd.openxmlformats-officedocument.presentationml.presentation" resource="/Content/mime/application-vnd-ms-powerpoint.png" small="/Content/mime/small/application-vnd-ms-powerpoint.png" extension=".pptx" />
      <add name="application/x-msdownload" resource="/Content/mime/application-x-msdownload.png" small="/Content/mime/small/application-exe.png" extension=".exe" />
      <add name="application/x-compressed" resource="/Content/mime/application-x-compressed.png" small="/Content/mime/small/application-x-compressed.png" extension=".tgz" />
      <add name="application/x-gzip" resource="/Content/mime/application-x-gzip.png" small="/Content/mime/small/application-x-compressed.png" extension=".gzip" />
      <add name="application/x-rar-compressed" resource="/Content/mime/application-x-rar-compressed.png" small="/Content/mime/small/application-x-compressed.png" extension=".rar" />
      <add name="application/x-stuffit" resource="/Content/mime/application-x-stuffit.png" small="/Content/mime/small/application-x-compressed.png" extension=".sit" />
      <add name="application/x-compressed" resource="/Content/mime/application-x-compressed.png" small="/Content/mime/small/application-x-compressed.png" extension=".tgz" />
      <add name="application/x-tar" resource="/Content/mime/application-x-tar.png" small="/Content/mime/small/application-x-compressed.png" extension=".tar" />
      <add name="application/x-zip-compressed" resource="/Content/mime/application-x-zip-compressed.png" small="/Content/mime/small/application-x-compressed.png" extension=".zip" />
      <add name="audio/aiff" resource="/Content/mime/audio-aiff.png" small="/Content/mime/small/audio-aiff.png" extension=".aiff" />
      <add name="audio/mpeg" resource="/Content/mime/audio-mpeg.png" small="/Content/mime/small/audio-mpeg.png" extension=".mp3" />
      <add name="audio/ogg" resource="/Content/mime/audio-ogg.png" small="/Content/mime/small/audio-ogg.png" extension=".ogg" />
      <add name="audio/wav" resource="/Content/mime/audio-wav.png" small="/Content/mime/small/audio-wav.png" extension=".wav" />
      <add name="audio/x-ms-wma" resource="/Content/mime/audio-x-ms-wma.png" small="/Content/mime/small/audio-x-ms-wma.png" extension=".wma" />
      <add name="text/plain" resource="/Content/mime/text-plain.png" small="/Content/mime/small/text-plain.png" extension=".txt" />
      <add name="text/html" resource="/Content/mime/text-html.png" small="/Content/mime/small/text-html.png" extension=".html" />
      <add name="text/html" resource="/Content/mime/text-html.png" small="/Content/mime/small/text-html.png" extension=".htm" />
      <add name="video/avi" resource="/Content/mime/video-avi.png" small="/Content/mime/small/video-avi.png" extension=".avi" />
      <add name="video/mpeg" resource="/Content/mime/video-mpeg.png" small="/Content/mime/small/video-mpeg.png" extension=".mpeg" />
      <add name="video/quicktime" resource="/Content/mime/video-quicktime.png" small="/Content/mime/small/video-quicktime.png" extension=".mov" />
      <add name="video/x-ms-wmv" resource="/Content/mime/video-x-ms-wmv.png" small="/Content/mime/small/video-x-ms-wmv.png" extension=".wmv" />
      <add name="image/jpeg" resource="" small="/Content/mime/small/image-jpg.png" extension=".jpg" />
      <add name="image/jpeg" resource="" small="/Content/mime/small/image-jpg.png" extension=".jpeg" />
      <add name="image/gif" resource="" small="/Content/mime/small/image-gif.png" extension=".gif" />
      <add name="image/png" resource="" small="/Content/mime/small/image-png.png" extension=".png" />
      <add name="image/bmp" resource="/Content/mime/image-bmp.png" small="/Content/mime/small/image-bmp.png" extension=".bmp" />
    </mimeTypes>
  </mimeConfig>
  <mailTemplatesConfig>
    <mailTemplates>
      <add name="Register" subject="Регистрация на {0}" template="Здравствуйте! &lt;br/&gt;&lt;br/&gt; Перейдите по ссылке  &lt;a href='http://{1}/User/Activate/{0}'&gt;http://{1}/User/Activate/{0}&lt;/a&gt;, чтобы подтвертить свой почтовый ящик.&lt;br/&gt;-----&lt;br/&gt;С уважением, команда &lt;a href='http://{1}'&gt;{1}&lt;/a&gt;" />
      <add name="ForgotPassword" subject="Ваш пароль в {0}" template="Здравствуйте!&lt;br/&gt;&lt;br/&gt;Ниже указана информация для доступа в &lt;a href='http://{2}/'&gt;{2}&lt;/a&gt;&lt;br/&gt;&lt;br/&gt;Email : {0}&lt;br/&gt;Пароль: {1}&lt;br/&gt;&lt;br/&gt; -----&lt;br/&gt;С уважением, команда &lt;a href='http://{2}'&gt;{2}&lt;/a&gt;" />
    </mailTemplates>
  </mailTemplatesConfig>
  <mailConfig SmtpServer="smtp.gmail.com" SmtpPort="587" SmtpUserName="lxndrpetrov" SmtpPassword="rhbvbyfk" SmtpReply="lxndrpetrov@gmail.com" SmtpUser="test" EnableSsl="true" />
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="lxndrpetrov@gmail.com">
        <network host="smtp.gmail.com" port="587" userName="lxndrpetrov" password="rhbvbyfk" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <smsConfig apiKey="*******" sender="Daddy" templateUri="http://api.unisender.com/ru/api/sendSms" />
</configuration>